{% extends "index.html" %}


{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Witaj w mojej bibliotece seriali</h1>
        <p class="lead">Wyniki wyszukiwania dla zapytania : {{ search_query }}</p>
    </div>
<div class="row">

   {% for serie in series %}
   <div class="col-lg-3 col-md-6 mb-4">
       <div class="card h-100">
        <img src="{{ tmdb_image_url(serie.poster_path, "w780") }}">
           <div class="card-body">
               <h4 class="card-title">{{ serie['title'] }}</h4>
           </div>
        </div>
   </div>
   {% endfor %}
</div>
{% endblock %}